header, section {
    background-color: rgb(3, 3, 18);
}

main {
    background-image: url('./assets/images/SVG\ by\ MagicPattern.design\ \(2\).png');
    background-size: cover;
    background-position: center;
    background-color: rgb(3, 3, 18);
}

.col-md-3 {
    background-image: url('./assets/images/SVG\ by\ MagicPattern.design\ \(1\).png');
    background-size: cover;
    background-position: center;
}

.rectangle {
    background-image: url('./assets/images/Rectangle\ 30\ \(1\).png');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 576px) {
   
}